# Working with Time Series in Pandas.

###### In this Notebook, we'll be looking at some tools and strategies to further prepare our Pandas DataFrames for use

In [2]:
#We begin by importing the modules we will be using 

import pandas as pd

from pandas_formatting import pandas_formatting #pandas_formatting.py must be included in the working directory

In [3]:
df_306 = pandas_formatting()

In [3]:
df_306

                                  Temp_Exterieur
time
2019-02-18 19:57:44.659000+01:00        8.804548
2019-02-18 19:59:44.656000+01:00        8.728136
2019-02-18 20:01:44.652000+01:00        8.670820
2019-02-18 20:03:44.649000+01:00        8.623060
2019-02-18 20:05:44.645000+01:00        8.594408
2019-02-18 20:07:44.642000+01:00        8.546648
2019-02-18 20:09:44.639000+01:00        8.508439
2019-02-18 20:11:44.635000+01:00        8.460680
2019-02-18 20:13:44.721000+01:00        8.403369
2019-02-18 20:15:46.507000+01:00        8.346058
2019-02-18 20:17:44.714000+01:00        8.288743
2019-02-18 20:19:44.713000+01:00        8.231433
2019-02-18 20:21:44.709000+01:00        8.174122
2019-02-18 20:23:44.705000+01:00        8.116812
2019-02-18 20:25:44.702000+01:00        8.030843
2019-02-18 20:27:44.699000+01:00        7.935324
2019-02-18 20:29:44.697000+01:00        7.849356
2019-02-18 20:31:44.692000+01:00        7.811147
2019-02-18 20:35:44.686000+01:00        7.658317
2019-02-18 20:37:44.683000+01:00        7.629660
2019-02-18 20:39:44.679000+01:00        7.562798
2019-02-18 20:41:44.676000+01:00        7.515038
2019-02-18 20:43:44.673000+01:00        7.457727
2019-02-18 20:45:44.669000+01:00        7.438621
2019-02-18 20:47:44.667000+01:00        7.352657
2019-02-18 20:49:44.666000+01:00        7.304897
2019-02-18 20:51:44.660000+01:00        7.247582
2019-02-18 20:53:44.656000+01:00        7.190271
2019-02-18 20:55:44.654000+01:00        7.171170
2019-02-18 20:57:44.651000+01:00        7.113859
...                                          ...
2019-07-11 13:32:20.118000+02:00       29.625093
2019-07-11 13:38:10.106000+02:00       29.415930
2019-07-11 13:40:30.103000+02:00       28.997608
2019-07-11 13:46:20.192000+02:00       29.163190
2019-07-11 13:49:50.187000+02:00       29.572803
2019-07-11 13:53:20.181000+02:00       29.973698
2019-07-11 13:58:00.173000+02:00       30.329514
2019-07-11 14:03:50.164000+02:00       30.639805
2019-07-11 14:07:20.159000+02:00       30.979187
2019-07-11 14:10:50.153000+02:00       31.289482
2019-07-11 14:13:10.149000+02:00       30.959797
2019-07-11 14:17:50.142000+02:00       30.552534
2019-07-11 14:21:20.137000+02:00       30.213150
2019-07-11 14:27:10.126000+02:00       30.009521
2019-07-11 14:33:00.115000+02:00       30.116184
2019-07-11 14:35:20.113000+02:00       30.474964
2019-07-11 14:38:50.108000+02:00       31.017975
2019-07-11 14:44:40.098000+02:00       30.901617
2019-07-11 14:48:10.191000+02:00       30.552534
2019-07-11 14:54:00.181000+02:00       30.348906
2019-07-11 14:59:50.171000+02:00       30.019218
2019-07-11 15:04:30.164000+02:00       29.642527
2019-07-11 15:10:20.154000+02:00       29.354925
2019-07-11 15:15:00.658000+02:00       29.049896
2019-07-11 15:20:50.138000+02:00       28.884310
2019-07-11 15:26:40.130000+02:00       28.884310
2019-07-11 15:32:30.118000+02:00       28.866880
2019-07-11 15:38:20.113000+02:00       28.771011
2019-07-11 15:44:10.099000+02:00       28.727436
2019-07-11 15:50:00.193000+02:00       28.762297

[34929 rows x 1 columns]

###### So, let's say we want to divide our data in order to look at different periods of time, such as night and day over the entire range of data. We can create two new DataFrames using the 'between_time' function, taking the starting and ending times as arguments.

In [4]:
df_306_night = df_306.between_time('19:00:00', '08:00:00')
df_306_day = df_306.between_time('08:00:00', '19:00:00')

###### df_306_day = pd.Series.between_time(df_306, start_time='08:00', end_time='19:00', include_start=True, include_end=True) is another option for this task

###### Below we can see that our new DataFrames correspond to the times we've chosen.

###### Here we have our nighttime DataFrame

In [5]:
df_306_night.head(), df_306_night.tail()

(                                  Temp_Exterieur
 time
 2019-02-18 19:57:44.659000+01:00        8.804548
 2019-02-18 19:59:44.656000+01:00        8.728136
 2019-02-18 20:01:44.652000+01:00        8.670820
 2019-02-18 20:03:44.649000+01:00        8.623060
 2019-02-18 20:05:44.645000+01:00        8.594408,
                                   Temp_Exterieur
 time
 2019-07-11 07:31:50.109000+02:00       17.171202
 2019-07-11 07:37:40.096000+02:00       17.188635
 2019-07-11 07:43:30.186000+02:00       17.223492
 2019-07-11 07:49:20.176000+02:00       17.249640
 2019-07-11 07:55:10.169000+02:00       17.336788)

###### Here we have our daytime DataFrame

In [6]:
df_306_day.head(), df_306_day.tail()

(                                  Temp_Exterieur
 time
 2019-02-19 08:01:44.624000+01:00        5.394508
 2019-02-19 08:03:44.720000+01:00        5.413615
 2019-02-19 08:05:44.718000+01:00        5.432716
 2019-02-19 08:07:44.714000+01:00        5.461374
 2019-02-19 08:09:44.712000+01:00        5.480476,
                                   Temp_Exterieur
 time
 2019-07-11 15:26:40.130000+02:00       28.884310
 2019-07-11 15:32:30.118000+02:00       28.866880
 2019-07-11 15:38:20.113000+02:00       28.771011
 2019-07-11 15:44:10.099000+02:00       28.727436
 2019-07-11 15:50:00.193000+02:00       28.762297)

### If we want to look at the data for just one day, we can use the 'loc' method. It is essential to use the same format that appears in the data:

In [7]:
df_306_one_day = df_306.loc['2019-04-29']

In [8]:
df_306_one_day

                                  Temp_Exterieur
time
2019-04-29 00:02:09.023000+02:00        7.801596
2019-04-29 00:07:59.024000+02:00        7.725179
2019-04-29 00:13:49.003000+02:00        7.648766
2019-04-29 00:19:38.994000+02:00        7.553247
2019-04-29 00:25:28.984000+02:00        7.457727
2019-04-29 00:31:19.074000+02:00        7.333551
2019-04-29 00:37:09.065000+02:00        7.228480
2019-04-29 00:42:59.054000+02:00        7.123410
2019-04-29 00:48:49.044000+02:00        7.018340
2019-04-29 00:54:39.035000+02:00        6.961025
2019-04-29 01:00:29.023000+02:00        6.884612
2019-04-29 01:06:19.014000+02:00        6.779542
2019-04-29 01:12:09.007000+02:00        6.703125
2019-04-29 01:17:58.995000+02:00        6.588499
2019-04-29 01:23:48.986000+02:00        6.521637
2019-04-29 01:29:38.977000+02:00        6.445220
2019-04-29 01:35:29.067000+02:00        6.368807
2019-04-29 01:41:19.056000+02:00        6.292390
2019-04-29 01:47:09.050000+02:00        6.235079
2019-04-29 01:52:59.040000+02:00        6.168218
2019-04-29 01:58:49.029000+02:00        6.101351
2019-04-29 02:04:39.017000+02:00        6.044041
2019-04-29 02:10:29.008000+02:00        5.977179
2019-04-29 02:16:18.998000+02:00        5.910313
2019-04-29 02:22:08.990000+02:00        5.853002
2019-04-29 02:27:58.978000+02:00        5.795692
2019-04-29 02:33:49.090000+02:00        5.728826
2019-04-29 02:39:39.079000+02:00        5.681066
2019-04-29 02:45:29.070000+02:00        5.633306
2019-04-29 02:51:19.066000+02:00        5.556894
...                                          ...
2019-04-29 21:05:39.046000+02:00       13.153536
2019-04-29 21:11:29.041000+02:00       13.014095
2019-04-29 21:17:19.032000+02:00       12.883369
2019-04-29 21:23:09.022000+02:00       12.726496
2019-04-29 21:28:59.015000+02:00       12.552193
2019-04-29 21:34:49.005000+02:00       12.386610
2019-04-29 21:40:38.993000+02:00       12.247164
2019-04-29 21:46:28.984000+02:00       12.116438
2019-04-29 21:52:19.088000+02:00       12.029287
2019-04-29 21:58:09.063000+02:00       11.950855
2019-04-29 22:03:59.055000+02:00       11.898560
2019-04-29 22:09:49.051000+02:00       11.846272
2019-04-29 22:15:39.035000+02:00       11.802696
2019-04-29 22:21:29.024000+02:00       11.759121
2019-04-29 22:27:19.016000+02:00       11.724258
2019-04-29 22:33:09.006000+02:00       11.654541
2019-04-29 22:38:58.998000+02:00       11.541243
2019-04-29 22:44:48.989000+02:00       11.401802
2019-04-29 22:50:38.979000+02:00       11.244928
2019-04-29 22:56:29.088000+02:00       11.088058
2019-04-29 23:02:19.079000+02:00       10.922472
2019-04-29 23:08:09.069000+02:00       10.756884
2019-04-29 23:13:59.061000+02:00       10.617443
2019-04-29 23:19:49.049000+02:00       10.486715
2019-04-29 23:25:39.046000+02:00       10.329842
2019-04-29 23:31:29.031000+02:00       10.181686
2019-04-29 23:37:19.022000+02:00       10.016100
2019-04-29 23:43:09.014000+02:00        9.855260
2019-04-29 23:48:59.004000+02:00        9.683328
2019-04-29 23:54:48.997000+02:00        9.511392

[261 rows x 1 columns]

#### We can use the same method to get the data for one month:

In [9]:
df_306_one_month = df_306.loc['2019-04']

In [10]:
df_306_one_month

                                  Temp_Exterieur
time
2019-04-01 00:03:19.068000+02:00       12.630631
2019-04-01 00:09:09.055000+02:00       12.534765
2019-04-01 00:14:59.089000+02:00       12.456327
2019-04-01 00:20:49.038000+02:00       12.377892
2019-04-01 00:26:39.031000+02:00       12.273312
2019-04-01 00:32:29.019000+02:00       12.203590
2019-04-01 00:38:19.008000+02:00       12.133871
2019-04-01 00:44:08.999000+02:00       12.064148
2019-04-01 00:49:58.989000+02:00       11.994431
2019-04-01 00:55:48.980000+02:00       11.959570
2019-04-01 01:01:39.051000+02:00       11.889847
2019-04-01 01:07:29.041000+02:00       11.828842
2019-04-01 01:13:19.031000+02:00       11.759121
2019-04-01 01:19:09.023000+02:00       11.671968
2019-04-01 01:24:59.013000+02:00       11.593533
2019-04-01 01:30:49.004000+02:00       11.532528
2019-04-01 01:36:38.996000+02:00       11.462805
2019-04-01 01:42:28.985000+02:00       11.410515
2019-04-01 01:48:18.974000+02:00       11.393087
2019-04-01 01:54:09.089000+02:00       11.340794
2019-04-01 01:59:59.074000+02:00       11.297218
2019-04-01 02:05:49.072000+02:00       11.236214
2019-04-01 02:11:39.061000+02:00       11.149063
2019-04-01 02:17:29.053000+02:00       11.053198
2019-04-01 02:23:19.040000+02:00       10.974762
2019-04-01 02:29:09.033000+02:00       10.887609
2019-04-01 02:34:59.023000+02:00       10.791744
2019-04-01 02:40:49.017000+02:00       10.695879
2019-04-01 02:46:39.006000+02:00       10.547720
2019-04-01 02:52:28.997000+02:00       10.460569
...                                          ...
2019-04-30 21:07:38.991000+02:00       13.170969
2019-04-30 21:13:28.983000+02:00       13.014095
2019-04-30 21:19:19.073000+02:00       12.865940
2019-04-30 21:25:09.061000+02:00       12.752644
2019-04-30 21:30:59.053000+02:00       12.621916
2019-04-30 21:36:49.043000+02:00       12.499903
2019-04-30 21:42:39.047000+02:00       12.369177
2019-04-30 21:48:29.026000+02:00       12.229736
2019-04-30 21:54:19.016000+02:00       12.116438
2019-04-30 22:00:09.006000+02:00       12.011858
2019-04-30 22:05:58.999000+02:00       11.915993
2019-04-30 22:11:48.988000+02:00       11.802696
2019-04-30 22:17:38.978000+02:00       11.689398
2019-04-30 22:23:29.093000+02:00       11.567390
2019-04-30 22:29:19.085000+02:00       11.427944
2019-04-30 22:35:09.076000+02:00       11.288504
2019-04-30 22:40:59.069000+02:00       11.157778
2019-04-30 22:46:49.058000+02:00       11.018335
2019-04-30 22:52:39.047000+02:00       10.852749
2019-04-30 22:58:29.039000+02:00       10.722023
2019-04-30 23:04:19.029000+02:00       10.608728
2019-04-30 23:10:09.019000+02:00       10.486715
2019-04-30 23:15:59.008000+02:00       10.373419
2019-04-30 23:21:49.001000+02:00       10.260120
2019-04-30 23:27:38.992000+02:00       10.120680
2019-04-30 23:33:29.072000+02:00        9.998539
2019-04-30 23:39:19.069000+02:00        9.845709
2019-04-30 23:45:09.051000+02:00        9.721537
2019-04-30 23:50:59.043000+02:00        9.587809
2019-04-30 23:56:49.033000+02:00        9.482738

[7313 rows x 1 columns]

#### We can also get a slice of several consecutive days using the same method but with two arguments indicating the start and end of the slice we want to examine:

In [11]:
df_306_days_slice = df_306.loc['2019-05-22':'2019-05-29']

In [12]:
df_306_days_slice

                                  Temp_Exterieur
time
2019-05-22 00:01:28.987000+02:00       12.081581
2019-05-22 00:07:18.979000+02:00       11.985712
2019-05-22 00:13:09.076000+02:00       11.915993
2019-05-22 00:18:59.062000+02:00       11.837557
2019-05-22 00:24:49.051000+02:00       11.759121
2019-05-22 00:30:39.044000+02:00       11.680683
2019-05-22 00:36:29.034000+02:00       11.602247
2019-05-22 00:42:19.023000+02:00       11.523815
2019-05-22 00:48:09.012000+02:00       11.454090
2019-05-22 00:53:59.005000+02:00       11.358227
2019-05-22 00:59:48.997000+02:00       11.288504
2019-05-22 01:05:38.984000+02:00       11.201353
2019-05-22 01:11:29.106000+02:00       11.114201
2019-05-22 01:17:19.091000+02:00       11.027050
2019-05-22 01:23:09.082000+02:00       10.948614
2019-05-22 01:28:59.075000+02:00       10.861462
2019-05-22 01:34:49.069000+02:00       10.756884
2019-05-22 01:40:39.055000+02:00       10.669731
2019-05-22 01:46:29.048000+02:00       10.582581
2019-05-22 01:52:19.034000+02:00       10.495430
2019-05-22 01:58:09.025000+02:00       10.408279
2019-05-22 02:03:59.019000+02:00       10.321129
2019-05-22 02:09:49.092000+02:00       10.260120
2019-05-22 02:15:38.995000+02:00       10.172970
2019-05-22 02:21:29.074000+02:00       10.094536
2019-05-22 02:27:19.066000+02:00       10.042242
2019-05-22 02:33:09.055000+02:00        9.960335
2019-05-22 02:38:59.046000+02:00        9.903019
2019-05-22 02:44:49.037000+02:00        9.864816
2019-05-22 02:50:39.028000+02:00        9.817056
...                                          ...
2019-05-29 21:10:49.024000+02:00       17.633104
2019-05-29 21:16:39.016000+02:00       17.528520
2019-05-29 21:22:29.008000+02:00       17.432655
2019-05-29 21:28:18.995000+02:00       17.328075
2019-05-29 21:34:08.989000+02:00       17.232210
2019-05-29 21:39:58.981000+02:00       17.136341
2019-05-29 21:45:49.068000+02:00       17.031761
2019-05-29 21:51:39.057000+02:00       16.953323
2019-05-29 21:57:29.050000+02:00       16.883606
2019-05-29 22:03:19.040000+02:00       16.813885
2019-05-29 22:09:09.029000+02:00       16.735447
2019-05-29 22:14:59.023000+02:00       16.691872
2019-05-29 22:20:49.012000+02:00       16.622154
2019-05-29 22:26:39.003000+02:00       16.569859
2019-05-29 22:32:28.993000+02:00       16.526283
2019-05-29 22:38:18.984000+02:00       16.456566
2019-05-29 22:44:08.975000+02:00       16.404276
2019-05-29 22:49:59.065000+02:00       16.343267
2019-05-29 22:55:49.057000+02:00       16.290977
2019-05-29 23:01:39.048000+02:00       16.238690
2019-05-29 23:07:29.036000+02:00       16.203827
2019-05-29 23:13:19.029000+02:00       16.125390
2019-05-29 23:19:09.020000+02:00       16.090528
2019-05-29 23:24:59.009000+02:00       16.046953
2019-05-29 23:30:49+02:00              16.003378
2019-05-29 23:36:38.993000+02:00       15.985949
2019-05-29 23:42:28.981000+02:00       15.951088
2019-05-29 23:48:19.071000+02:00       15.916225
2019-05-29 23:54:09.064000+02:00       15.863937
2019-05-29 23:59:59.054000+02:00       15.837790

[2041 rows x 1 columns]

#### We can even use this method to get a slice between two times (here just one hour), as shown below. Again, it is imperative you use the same time format as the one in the DataFrame.

In [13]:
df_306_hour_slice = df_306.loc['2019-05-25 12:00:00':'2019-05-25 13:00:00']

In [14]:
df_306_hour_slice

                                  Temp_Exterieur
time
2019-05-25 12:04:58.992000+02:00       22.661720
2019-05-25 12:10:48.983000+02:00       22.722729
2019-05-25 12:15:28.977000+02:00       23.114910
2019-05-25 12:21:19.067000+02:00       22.731443
2019-05-25 12:24:49.063000+02:00       22.321830
2019-05-25 12:27:09.059000+02:00       21.947084
2019-05-25 12:32:59.047000+02:00       22.051664
2019-05-25 12:37:39.042000+02:00       22.374125
2019-05-25 12:43:29.030000+02:00       22.661720
2019-05-25 12:49:19.024000+02:00       23.019040
2019-05-25 12:53:59.014000+02:00       23.393791
2019-05-25 12:59:49.007000+02:00       23.585526